PORT=5001
FRONTEND_URL=https://your-frontend-app.vercel.app
MONGODB_URI=MONGODBURL
JWT_SECRET=supersecret_aura_key_1234
GROQ_API_KEY=GROKAPIKEY
ALPHA_VANTAGE_API_KEY=ALPHAVANTAGEKEY
GEMINI_API_KEY=GEMINIAPIKEY